.bleu, .bleugras {
  color: #043b8a !important; }

.bleugras {
  font-weight: bold; }

.blue_bullets {
  list-style-type: none; }
  .blue_bullets li:before {
    content: '\002022';
    color: #043b8a;
    font-size: 20px;
    padding-right: 10px; }

.npright {
  padding-right: 0 !important; }

.anchor {
  color: #333333; }
  .anchor:hover {
    color: #333333; }

body, main.main.grid {
  background-color: #282828;
  font-family: Verdana, Arial; }

header {
  background-color: #FFFFFF;
  height: 130px;
  margin-bottom: 20px;
  padding-left: 0 !important;
  padding-right: 0 !important; }
  header .menu_resp_trigger, header .responsive-menu-mobile {
    display: none; }
  header .menu_wrapper {
    position: relative;
    top: 55px;
    right: -15px;
    padding-right: 0; }
    header .menu_wrapper .nav {
      width: auto;
      height: 30px;
      background-color: #043b8a;
      border-radius: 3px;
      float: right;
      border: 0; }
      header .menu_wrapper .nav ul.menu {
        height: auto; }
        header .menu_wrapper .nav ul.menu li {
          display: block;
          float: left;
          margin-right: 0;
          border: none !important; }
          header .menu_wrapper .nav ul.menu li a {
            height: 30px;
            line-height: 30px;
            color: #FFFFFF;
            font-size: 14px;
            padding: 0 15px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px; }
          header .menu_wrapper .nav ul.menu li:hover {
            background: #258FD6; }
        header .menu_wrapper .nav ul.menu:hover {
          background: #258FD6; }
  header .bandeau_bleu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

.head_wrapper {
  padding: 0 30px !important; }

.btn_bleu {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 180px;
  background-color: #043b8a;
  color: #FFFFFF;
  text-align: center;
  float: right; }

.container {
  width: 100%; }

.full-width-bloc {
  background-color: #FFFFFF;
  padding: 0; }
  .full-width-bloc h1 {
    color: #043b8a;
    font-size: 24px; }
  .full-width-bloc .content h3 {
    color: #043b8a;
    font-size: 22px; }
  .full-width-bloc .content p {
    margin: 20px 0 10px 0; }
  .full-width-bloc .content-left {
    padding: 10px 20px 0 20px; }
    .full-width-bloc .content-left h2 {
      margin-top: 0;
      font-size: 22px;
      font-weight: bold;
      color: #043b8a; }
    .full-width-bloc .content-left p {
      margin: 0; }
  .full-width-bloc .visuel_wrapper {
    padding: 0; }
    .full-width-bloc .visuel_wrapper img {
      width: 100%; }

.bloc_2articles {
  max-width: 49.3%;
  background-color: #FFFFFF;
  padding: 0; }
  .bloc_2articles .visuel {
    padding: 0; }
    .bloc_2articles .visuel img {
      min-height: 220px; }
  .bloc_2articles .content h3 {
    color: #043b8a;
    font-size: 18px;
    font-weight: bold; }

.bloc_4articles {
  max-width: 24%;
  background-color: #FFFFFF;
  padding: 0;
  margin-right: 1.3%; }
  .bloc_4articles .visuel {
    background-color: #FFFFFF;
    padding: 0; }
    .bloc_4articles .visuel img {
      width: 100%; }
  .bloc_4articles .content {
    background-color: #FFFFFF;
    min-height: 250px; }
    .bloc_4articles .content h3 {
      color: #043b8a;
      font-size: 18px;
      font-weight: bold; }

.bloc_4articles:nth-last-child(1) {
  margin: 0 !important; }

.container {
  padding: 0 55px !important; }

.hero .btn_bleu {
  margin-top: 10px; }

.bloc_titre_inter {
  background-color: #292929;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF; }

.full-width-bloc.inner-page {
  background-color: #FFFFFF;
  padding: 0; }
  .full-width-bloc.inner-page h1 {
    color: #043b8a;
    font-size: 24px;
    margin-left: 15px;
    font-weight: bold; }
  .full-width-bloc.inner-page h3 {
    font-size: 18px;
    font-weight: bold;
    color: #043b8a; }

section.inner-page {
  padding: 20px;
  background-color: #FFFFFF; }
  section.inner-page h1 {
    margin-top: 0; }
  section.inner-page img {
    padding: 20px 0; }

.tableau_bleu {
  width: 100%;
  border-collapse: collapse; }
  .tableau_bleu th {
    border: 0; }
  .tableau_bleu tr:hover {
    background: 0 !important; }
  .tableau_bleu thead {
    background-color: #043b8a; }
    .tableau_bleu thead td {
      color: #FFFFFF;
      text-align: center;
      font-weight: bold; }
  .tableau_bleu td {
    border: 1px solid #043b8a;
    color: #333333;
    padding: 15px; }
  .tableau_bleu tr:hover td {
    background-color: 0 !important; }

#field_3 {
  height: 200px; }

.footer {
  border-top: 0 !important;
  color: #FFFFFF; }
  .footer .footer_menu {
    margin-top: 20px; }
    .footer .footer_menu a {
      color: #FFFFFF;
      font-size: 14px;
      font-weight: normal;
      margin-right: 35px; }
  .footer .mentions {
    font-size: 11px;
    margin-top: 15px; }
  .footer .logo {
    background-image: url(../../../data/medias/logo_footer.png);
    height: 60px;
    background-repeat: no-repeat;
    background-position: center; }

@media only screen and (max-width: 1200px) {
  .header {
    margin-top: 0 !important;
    height: 115px;
    padding-top: 10px;
    position: fixed;
    z-index: 999; }
    .header .menu_wrapper {
      margin: 0 !important;
      left: 0;
      top: 28px;
      padding: 0; }
      .header .menu_wrapper nav {
        float: none;
        max-height: 100%;
        height: auto;
        width: 100% !important;
        top: 115px;
        border-radius: 0; }
        .header .menu_wrapper nav ul li {
          display: block;
          float: none !important; }
          .header .menu_wrapper nav ul li a {
            border: 0 !important;
            height: 40px !important;
            line-height: 40px !important; }
          .header .menu_wrapper nav ul li:hover {
            background: 0 !important; }
        .header .menu_wrapper nav ul:hover {
          background: 0 !important; }
    .header .container.head_wrapper {
      padding: 0 !important;
      width: 100% !important; }

  .responsive-menu {
    display: none; }

  .responsive-menu-mobile {
    padding: 0 !important; }

  .menu_resp_trigger {
    display: block !important; }
    .menu_resp_trigger img {
      float: right;
      width: 50px;
      padding-top: 12px;
      padding-right: 5px; }

  .main {
    margin-top: 140px; }

  .bloc_2articles .visuel img {
    width: 100%; }
  .bloc_2articles .content {
    min-height: 175px; }

  .bloc_4articles .content {
    min-height: 250px !important; }

  .full-width-bloc .visuel img {
    width: 100%; } }
@media only screen and (max-width: 1024px) {
  .full-width-bloc h2 {
    margin-bottom: 30px; }
  .full-width-bloc .content-left {
    min-height: 350px;
    padding: 30px 20px 0 !important; }
    .full-width-bloc .content-left p {
      padding-bottom: 30px; }

  .hero .content-left, .hero .visuel_wrapper {
    width: 100%;
    left: 0; }
  .hero .btn_bleu {
    margin-bottom: 20px; }

  .bloc_4articles .content {
    min-height: 300px; } }
@media only screen and (max-width: 768px) {
  .content-left p {
    padding-bottom: 10px; }

  .bloc_2articles {
    max-width: 48.5% !important;
    min-height: 430px;
    margin-bottom: 10px; }
    .bloc_2articles .visuel img {
      width: 100%; }

  .bloc_4articles {
    max-width: 48% !important;
    margin-bottom: 30px; }
    .bloc_4articles:nth-child(odd) {
      margin-right: 24px; }
    .bloc_4articles:nth-child(even) {
      margin-right: 0px; }
    .bloc_4articles .visuel img {
      width: 100%; }

  .btn_bleu {
    margin: 20px 0; } }
@media only screen and (max-width: 640px) {
  .bloc_2articles, .bloc_4articles {
    max-width: 100% !important; } }
@media only screen and (max-width: 480px) {
  .container {
    padding: 0 !important; }

  .row {
    margin: 0 !important; }

  .bloc_2articles {
    max-width: 100% !important; }

  .bloc_4articles {
    max-width: 100% !important; }
    .bloc_4articles .visuel img {
      width: 100%; }

  .footer_menu {
    line-height: 30px; }
    .footer_menu ul li:nth-child(1) {
      margin-left: 10px; } }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .tableau_bleu td {
    padding: 5px !important; } }
@media only screen and (max-width: 360px) {
  .tab_wrapper {
    padding: 0 !important; } }
