$bleu : #043b8a;

.bleu {
	color: $bleu !important;
}

.bleugras {
	@extend .bleu;
	font-weight: bold;
}

.blue_bullets {
	list-style-type: none;

	li:before {
		content: '\002022';
		color: $bleu;
		font-size: 20px;
		padding-right: 10px;
	}
}

.npright {
	padding-right: 0 !important;
}

.anchor {
	color: #333333;

	&:hover {
		color: #333333;
	}
}

body, main.main.grid {
	background-color: #282828;
	font-family: Verdana, Arial;
}

header {
	background-color: #FFFFFF;
	height: 130px;
	margin-bottom: 20px;
	padding-left: 0 !important;
	padding-right: 0 !important; 

	.menu_resp_trigger, .responsive-menu-mobile {
		display: none;
	}

	.menu_wrapper {
		position: relative;
		top: 55px;
		right: -15px;
		padding-right: 0;

		.nav { 
			width: auto;
			height: 30px;
			background-color: $bleu;
			border-radius: 3px;
			float: right;
			border: 0;

			ul.menu {
				height: auto;
				li{
					display: block;
					float: left;
					margin-right: 0;
					border: none !important;
					a {
						height: 30px;
						line-height: 30px;
						color: #FFFFFF;
						font-size: 14px;
						padding: 0 15px;
						border-top-left-radius: 3px;
						border-bottom-left-radius: 3px; 
					}

					&:hover {
						background: #258FD6;
					}
				}

				&:hover {
					background: #258FD6;
				}
			}
		}
	}

	.bandeau_bleu {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}

.head_wrapper{
	padding: 0 30px !important;
}

.btn_bleu {
	display: block;
	height: 40px;
	line-height: 40px;
	width: 180px;
	background-color: $bleu;
	color: #FFFFFF;
	text-align: center;
	float: right;
}

// ======================================****************====================================== //
// ====================================== BLOCS HOMEPAGE ====================================== //
// ======================================****************====================================== //
.container {
	width: 100%;
}

.full-width-bloc {
	background-color: #FFFFFF;
	padding: 0;

	h1 {
		color: $bleu;
		font-size: 24px;
	}

	.content {
		h3 {
			color: $bleu;
			font-size: 22px;
		}

		p {
			margin: 20px 0 10px 0;
		}
	}

	.content-left {
		padding: 10px 20px 0 20px;

		h2 {
			margin-top: 0;
			font-size: 22px;
			font-weight: bold;
			color: $bleu;
		}

		p{
			margin: 0;
		}
	}

	.visuel_wrapper {
		padding: 0;

		img {
			width: 100%;
		}
	}
}

.bloc_2articles {
	max-width: 49.3%;
	background-color: #FFFFFF;
	padding: 0;

	.visuel {
		padding: 0;

		img {
			min-height: 220px;
		}
	}

	.content {
		h3 {
			color: $bleu;
			font-size: 18px;
			font-weight: bold;
		}

	}
}

.bloc_4articles {
	max-width: 24%;
	background-color: #FFFFFF;
	padding: 0;
	margin-right: 1.3%;

	.visuel {
		background-color: #FFFFFF;
		padding: 0;
		
		img {
			width: 100%;
		}
	}

	.content {
		background-color: #FFFFFF;
		min-height: 250px;

		h3 {
			color: $bleu;
			font-size: 18px;
			font-weight: bold;
		}
	}
}

.bloc_4articles:nth-last-child(1) {
	margin: 0 !important;
}

.container {
	padding: 0 55px !important;
}

.hero {
	.btn_bleu {
		margin-top: 10px;
	}
}

// ======================================****************====================================== //
// =================================== BLOCS PAGES INTERNES ====================================== //
// ======================================****************====================================== //
.bloc_titre_inter {
	background-color: #292929;
	color: #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
}

.full-width-bloc.inner-page {
	background-color: #FFFFFF;
	padding: 0;

	h1 {
		color: $bleu;
		font-size: 24px;
		margin-left: 15px;
		font-weight: bold;
	}

	h3 {
		font-size: 18px;
		font-weight: bold;
		color: $bleu;
	}
}

section.inner-page {
	padding: 20px;
	background-color: #FFFFFF;

	h1 {
		margin-top: 0;
	}

	img {
		padding: 20px 0;
	}
}

.tableau_bleu {
	width: 100%;
	border-collapse: collapse;

	th {
		border: 0;
	}

	tr:hover {
		background: 0 !important;
	}

	thead {
		background-color: $bleu;

		td {
			color: #FFFFFF;
			text-align: center;
			font-weight: bold;
		}
	}

	td {
		border: 1px solid $bleu;
		color: #333333;
		padding: 15px;
	}

	tr:hover td {
		background-color: 0 !important;
	}
}

#field_3 {
	height: 200px;
}



.footer {
	border-top: 0 !important;
	color: #FFFFFF;

	.footer_menu {
		margin-top: 20px;

		a {
			color: #FFFFFF;
			font-size: 14px;
			font-weight: normal;
			margin-right: 35px;
		}

	}

	.mentions {
		font-size: 11px;
		margin-top: 15px;
	}

	.logo {
		background-image: url(../../../data/medias/logo_footer.png);
		height: 60px;
		background-repeat: no-repeat;
		background-position: center;
	}
}




// ======================================****************====================================== //
// ========================================= @MEDIAS ========================================== //
// ======================================****************====================================== //
@media only screen and (max-width: 1200px) {
	.header {
		margin-top: 0 !important;
		height: 115px;
		padding-top: 10px;
		position: fixed;
		z-index: 999;

		.menu_wrapper {
			margin: 0 !important;
			left: 0;
			top: 28px;
			padding: 0;

			nav {
				float: none;
				max-height: 100%;
				height: auto;
				width: 100% !important;
				top: 115px;
				border-radius: 0;

				ul{
					li{
						display: block;
						float: none !important;

						a {
							border: 0 !important;
							height: 40px !important;
							line-height: 40px !important;
						}

						&:hover{
							background: 0 !important;
						}
					}

					&:hover{
						background: 0 !important;
					}
				}
			}
		}

		.container.head_wrapper {
			padding: 0 !important;
			width: 100% !important;
		}
	}

	.responsive-menu {
		display: none;
	}

	.responsive-menu-mobile {
		padding: 0 !important;
	}

	.menu_resp_trigger {
		display: block !important;

		img {
			float: right;
			width: 50px;
			padding-top: 12px;
			padding-right: 5px;
		}
	}

	.main {
		margin-top: 140px;
	}

	.bloc_2articles {
		
		.visuel {
			img {
				width: 100%;
			}
		}

		.content {
			min-height: 175px;
		}
	}

	.bloc_4articles {
		.content {
			min-height: 250px !important;
		}
	}

	.full-width-bloc {
		.visuel {
			img {
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.full-width-bloc {

		h2 {
			margin-bottom: 30px;
		}

		.content-left {
			min-height: 350px;
			padding: 30px 20px 0 !important;

			p {
				padding-bottom: 30px;
			}
		}
	}
	.hero {
		.content-left, .visuel_wrapper {
			width: 100%;
			left: 0;
		}

		.btn_bleu {
			margin-bottom: 20px;
		}
	}

	.bloc_4articles {
		.content {
			min-height: 300px;
		}
	}
}


@media only screen and (max-width: 768px) {
	.content-left {
		p {
			padding-bottom: 10px;
		}
	}
	.bloc_2articles {
		max-width: 48.5% !important;
		min-height: 430px;
		margin-bottom: 10px;
		
		.visuel {
			img {
				width: 100%;
			}
		}
	}

	.bloc_4articles {
		max-width:48% !important;
		margin-bottom: 30px;

		&:nth-child(odd){
			margin-right: 24px;
		}

		&:nth-child(even){
			margin-right: 0px;
		}
		
		.visuel {
			img {
				width: 100%;
			}
		}
	}

	.btn_bleu {
		margin: 20px 0;
	}
	
}


@media only screen and (max-width: 640px) {
	.bloc_2articles, .bloc_4articles {
		max-width: 100% !important;
	}
}

@media only screen and (max-width: 480px) {
	.container {
		padding: 0 !important;
	}

	.row {
		margin: 0 !important;
	}

	.bloc_2articles {
		max-width: 100% !important;
	}

	.bloc_4articles {
		max-width: 100% !important;
		
		.visuel {
			img {
				width: 100%;
			}
		}
	}

	.footer_menu {
		line-height: 30px;

		ul li:nth-child(1) {
			margin-left: 10px;
		}
	}
}

// POUR CHROME
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .tableau_bleu {
    	td {
    		padding: 5px !important;
    	}
   }
}

@media only screen and (max-width: 360px) {
	.tab_wrapper {
		padding: 0 !important;
	}
	
}